body {
  background-color: rgb(149, 148, 148);
}

#flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex {
  display: flex;
  border: 1px solid black;
  margin-bottom: 1em;
  background-color: white;
}

#absolute {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: brown;
  top: 100px;
  left: 66px;
}

.row {
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.row-reverse {
  justify-content: center;
  flex-direction: row-reverse;
}

.innerFlex {
  width: 50px;
  /* flex: 1; */
  margin: 0.5em;
  height: 50px;
  /* line-height: .05em; */
  text-align: center;
  color: white;
  font-weight: bold;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

#head {

  position: absolute;
  left: 200px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}



#body {
  top: 442px;
  left: 225px;
  position: absolute;
  width: .5px;
  height: 100px;
  border: 1px solid black;
}

#lArm {
  position: absolute;
  top: 450px;
  left: 205px;
  width: .5px;
  height: 50px;
  border: 1px solid black;
  rotate: 45deg;
}

#rArm {
  position: absolute;
  left: 245px;
  top: 450px;
  width: .5px;
  height: 50px;
  border: 1px solid black;
  rotate: -45deg;
}

#lLeg {
  position: absolute;
  left: 215px;
  top: 540px;
  width: .5px;
  height: 50px;
  border: 1px solid black;
  rotate: 20deg;
}

#rLeg {
  position: absolute;
  left: 235px;
  top: 540px;
  width: .5px;
  height: 50px;
  border: 1px solid black;
  rotate: -20deg;
}